.addContainer form {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.buttons {
  display: flex;
}

.form p{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.buttons :nth-of-type(1) {
  margin-left: auto;
}
.e-dialog {
  color: red;
  font-size: 10px;
  font-weight: normal;
  line-height: normal;
}
