.article{
  max-width: 70%;
}
h1{
  text-align: center;
  padding-bottom: 1em;
}

.firstDiv{
  /* border: solid red 3px; */
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.insidDiv{
  border: solid black 3px;
  border-radius: 50px;
  padding: 1em;
  display: flex;
  flex-direction: column;
 text-align: center;
 gap: 1em;
}