.topForm {
  display: flex;
  flex-direction: column;
  gap: 1em;
  /* max-width: 60%; */
}

.downForm {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
}
select {
  /* border: solid blue 3px; */
  padding: 0 0.5em 0 0.5em;
}

.buttons :nth-of-type(1) {
  margin-left: auto;
}

.errors {
  color: red;
}

a {
  text-decoration: none;
}
