.allMain {
  display: flex;
  flex-direction: row;
  gap: 3em;
  /* flex-wrap: wrap; */
  /* max-width: 45%; */
  /* border: solid red 3px; */
}

.pdf{
    /* border: solid blue 3px; */
    min-width: 100%;
}

.allInput {
  /* margin: auto; */
  /* padding:1.5em; */
  justify-content: center;
  text-align: center;
  /* gap: 1em; */
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  max-width: 30%;
  /* justify-content: center; */
  /* border: solid red 3px; */
}

.allInput input{
  width: 100%;
}
.allInput select{
  width: 100%;
}


.pdf{
  /* border: solid green 3px; */
  /* flex: 1; */
}

.buttons{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 0.5em;
  /* border: solid red 3px */
}