/* .tableDiv {
  border: solid red 2px;
  display: flex;
  display: grid;
  flex-direction: row;
  gap: 1rem;
  width: auto;
  height: 80vh;
}

.tableFields{
  margin: 0 0.5em 0 0.5em;
} */

/* .container {
  display: flex;
  align-items: center;
  margin: 3rem 0;
  flex-direction: column;
} */

table {
  border-spacing: 0;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

tr:last-child > td {
  border-bottom: 0;
}

th,
td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

tr:hover{
  background: rgba(71, 148, 215, 0.3);
}