.popup{
  background-color: #b7edf8;
  max-width: 60%;
  padding: 30px 40px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  display: 1;
  font-family: “Poppins”,sans-serif;
  display: grid;
  text-align: center;
  /* grid-template-columns: repeat(2, 1fr); */
  /* flex-direction: row; */
}