.mainAll {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.allDiv {
  margin-bottom: 2em;
  width: 30%;

}

.mainAll :nth-of-type(4) {
  width: 100%;
  margin-right: 70%;
  margin-left: 0;
  padding: 1em;

}
.mainAll :nth-of-type(5) {
  width: 100%;
  margin-right: 70%;
  margin-left: 0;
  padding: 1em;

}

.allPAout {
  width: 5%;
}
.selectors{
    display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  margin-bottom: 1em;
}

.selectItem{
  width: 10em;

}

.title{
  text-align: center;
  align-items: center;
  margin-bottom: 1em;
  /* border: solid rebeccapurple 3px; */
}